.intro-container {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.photo-of-me {
    max-width: 400px;
    height: auto;
}

.intro-text {
    margin-left: 40px;
}

.about-text {
    flex: 2;
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #1c2b33;
}

.about-text p {
    margin-bottom: 20px;
}

.about-text a {
    color: #827ba0;
    text-decoration: underline;
}
.about-text em {
    color: #827ba0;
}

@media screen and (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        text-align: center;
    }

    .photo-of-me {
        max-width: 300px;
        margin-bottom: 20px;
        margin-top: -80px;
    }

    .intro-text {
        margin-left: 0;
        margin-top: 20px;
    }

    .about-text {
        text-align: left;
    }
}