.intro-container {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.photo-of-me {
    max-width: 400px;
    height: auto;
}

.intro-text {
    margin-left: 40px; /* Space between the image and the text */
}

.about-text {
    flex: 2;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
}

.about-text p {
    margin-bottom: 20px;
}

.about-text a {
    color: #886dc3;
    text-shadow: 1px 1px 2px #ffffff;
    text-decoration: underline;
}
.about-text em {
    color: #886dc3;
    text-shadow: 1px 1px 2px #ffffff;
}

@media screen and (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        text-align: center;
    }

    .photo-of-me {
        max-width: 300px;
        margin-bottom: 20px;
        margin-top: -80px;
    }

    .intro-text {
        margin-left: 0;
        margin-top: 20px;
    }

    .about-text {
        text-align: left;
    }
}