/* Sidebar */
.sidebar {
    flex: 1;
    padding: 20px;
}
.logo {
    max-width: 80px;
    height: auto;
    margin-bottom: 20px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
}
.sidebar p {
    margin: 0;
    padding: 5px 0;
}
.sidebar-section {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .sidebar-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .poster-container img, .team-photo {
        max-width: 100%;
    }
    .sidebar-section:nth-last-child(-n+2) {
        width: calc(50% - 10px);
    }
    .logo {
        display: none;
    }
}

/* Adjust the font size for smaller screens */
.main-content p, .caption, .sidebar-section p {
    font-size: 14px;
}

.title-container {
    display: inline-flex;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'HyperBlob', sans-serif;
    color: #DC8DAD;
    text-shadow: 1px 1px 2px #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    margin-top: 0;
}

.right-column {
    flex: 3;
    padding: 20px;
}

/* Team Poster */
.poster-container {
    text-align: center;
    margin-top: 20px;
}
.poster-container img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

/* Selected Work */
.screens-container {
    text-align: center;
}
.screens-container .image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Captions */
.caption {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
    font-size: 14px;
}

/* Team Photo */
.team-photo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.main-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.main-content h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #DC8DAD;
}

.main-content ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.main-content li {
    margin-bottom: 5px;
}

.main-content h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333;
}
