main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    margin-top: 0; /* Remove the top margin */
}

.sidebar {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 3;
    padding: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .sidebar,
    .right-column {
        padding: 20px;
    }
    .logo {
        max-width: 100px;
        margin-bottom: 10px;
    }
    h2 {
        margin-left: 20px; /* Align the header with the sidebar content */
    }
}
