* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0 40px;
    /* background: linear-gradient(to right, #fde0e0 20%, #f9eceb 50%, #e7e9fb 80%); */
    /* background: linear-gradient(to right, #fecece 10%, #fce5ca 25%, #fdffce 40%, #d3fbcd 55%, #c9dbfa 80%, #ded8fe 100%); */
    background: linear-gradient(to right, #fde0e0 10%, #fdecd9 25%, #fafbd6 40%, #e4ffdf 55%, #c9dbfa 80%, #dfdafa 100%);
}

/* Navbar stuff */
.navbar-logo {
    height: 40px;
    float: left;
}
nav {
    text-align: right;
    padding-top: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}
nav ul li a.active, nav ul li a:hover {
    font-weight: bold;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    /* .navbar-logo, nav ul {
        text-align: center;
    } */

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 0 10px;
    }
}

/* Bouncing animation */
.header {
    display: inline-flex;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'HyperBlob', sans-serif;
    color:#A79ECD;
    text-shadow: 1px 1px 2px #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Footer Stuff */
footer {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left, .footer-right {
    flex: 1;
}
.footer-left {
    text-align: left;
    color: rgba(0, 0, 0, 0.62); /* Black with 62% opacity */
}
.footer-right {
    text-align: right;
}
.linkedin-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}
.gmail-logo {
    width: 35px;
    height: 30px;
}
.footer-right a {
    text-decoration: none;
}
/* Make the footer compress on small screens */
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column-reverse;
    }
    .footer-left, .footer-right {
        text-align: center;
        flex: none;
        width: 100%;
        font-size: 12px;
    }
    .footer-right {
        margin-bottom: 20px;
    }
    .linkedin-logo, .gmail-logo {
        margin-right: 20px;
    }
}

.header {
    font-family: 'HyperBlob', sans-serif;
}

@font-face {
    font-family: 'HyperBlob';
    src: url('../fonts/hyper-blob-font/HyperBlob-ZVj6l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HyperBlobOutline';
    src: url('../fonts/hyper-blob-font/HyperBlobOutline-OVj6o.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Migae';
    src: url('../fonts/migae-font/MigaeSemibold-3zd2M.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

