* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0 40px;
    background: linear-gradient(to right, #fecece 10%, #fce5ca 25%, #fdffce 40%, #d3fbcd 55%, #c9dbfa 80%, #ded8fe 100%);
}

footer {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar stuff */
.navbar-logo {
    height: 40px;
    float: left;
}
nav {
    text-align: right;
    padding-top: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}
nav ul li a.active, nav ul li a:hover {
    font-weight: bold;
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    /* .navbar-logo, nav ul {
        text-align: center;
    } */

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 0 10px;
    }
}

/* Bouncing animation */
.header {
    display: inline-flex;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'HyperBlob', sans-serif;
    color:#A79ECD;
    background-color:#FFF0F5;
    padding: 2px 5px;
    border-radius: 5px;
}

@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-7px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}

.footer-left, .footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
    color: rgba(0, 0, 0, 0.62); /* Black with 62% opacity */
}

.footer-right {
    text-align: right;
}

.linkedin-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.gmail-logo {
    width: 35px;
    height: 30px;
}

.footer-right a {
    text-decoration: none;
}

@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-7px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}

.H { animation: bounce 2s ease infinite; }
.e1 { animation: bounce 2s ease infinite .1s; }
.l1 { animation: bounce 2s ease infinite .2s; }
.l2 { animation: bounce 2s ease infinite .3s; }
.o { animation: bounce 2s ease infinite .4s; }
.comma { animation: bounce 2s ease infinite .5s; }
.I { animation: bounce 2s ease infinite .6s; }
.apostraphe { animation: bounce 2s ease infinite .7s; }
.m { animation: bounce 2s ease infinite .8s; }
.K { animation: bounce 2s ease infinite .9s; }
.a { animation: bounce 2s ease infinite 1s; }
.t { animation: bounce 2s ease infinite 1.1s; }
.i { animation: bounce 2s ease infinite 1.2s; }
.e2 { animation: bounce 2s ease infinite 1.3s; }
.exclamation { animation: bounce 2s ease infinite 1.4s; }

@font-face {
    font-family: 'HyperBlob';
    src: url('../fonts/hyper-blob-font/HyperBlob-ZVj6l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HyperBlobOutline';
    src: url('../fonts/hyper-blob-font/HyperBlobOutline-OVj6o.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
