* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inter";
    font-weight: 400;
    background: linear-gradient(to bottom right, #f4e4ea 10%, #ece5f8 20%, #c9dbfa 40%, #dae9fd 50%, #dfdafa 100%);
}

/* Navbar stuff */
.navbar-logo {
    height: 40px;
    float: left;
}
nav {
    text-align: right;
    padding: 0 40px;
    padding-top: 30px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #8079a0;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
nav ul li a.active, nav ul li a:hover {
    background-color: #635d7c;
}
nav ul li a .star {
    margin-right: 8px; /* Add some space between the star and text */
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

@media screen and (max-width: 880px) {
    nav ul li {
        display: block;
        margin: 25px 0;
    }
    main, body {
        padding: 0 20px;
    }
}

/* Titles */
.header {
    display: inline-flex;
    font-size: 50px;
    margin-bottom: 20px;
    color: #8079a0;
    padding: 2px 5px;
    border-radius: 5px;
}

/* Footer Stuff */
footer {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 290px;
    padding-right: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left, .footer-right {
    flex: 1;
}
.footer-left {
    text-align: left;
    color: rgba(0, 0, 0, 0.62); /* Black with 62% opacity */
    font-size: 12px;
}
.footer-right {
    text-align: right;
}
.linkedin-logo {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.gmail-logo {
    width: 20px;
    height: 20px;
}
.footer-right a {
    text-decoration: none;
}
/* Make the footer compress on small screens */
@media screen and (max-width: 880px) {
    footer {
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer-left, .footer-right {
        text-align: center;
        flex: none;
        width: 100%;
    }
    .footer-right {
        margin-bottom: 20px;
    }
    .gmail-logo {
        margin-right: 20px;
    }
}

.header {
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
