html {
    overflow-x: hidden;
}

main {
    padding: 40px;
}

.intro-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.intro-text {
    margin-left: 50px;
}

.cartoon-me {
    max-width: 40%;
    height: auto;
}

@media screen and (max-width: 940px) {
    .intro-container {
        flex-direction: column;
        text-align: center;
    }

    .intro-text {
        margin-left: 0;
        margin-top: 20px;
    }

    .cartoon-me {
        max-width: 300px;
        margin-bottom: 20px;
    }
}

.project-container {
    background-color: #f9f9f9;
    padding: 80px 0;
    margin-left: calc(-1 * (100vw - 100%) / 2); /* Extend the background to the edges of the screen */
    margin-right: calc(-1 * (100vw - 100%) / 2); /* Extend the background to the edges of the screen */
}

.projects {
    max-width: 900px;
    margin: 0 auto; /* Center the project grid */
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 50px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.role-detail {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    font-style: italic;
    color: #333;
}

/* Bouncing animation for each letter */
.H, .e1, .l1, .l2, .o, .comma, .I, .apostraphe, .m, .K, .a, .t, .i, .e2, .exclamation {
    animation: bounce 2s ease infinite;
    animation-delay: calc(var(--bounce-order) * 0.1s);
}