main {
    padding: 40px;
}

.intro-container {
    display: flex;
    align-items: center;
    margin-left: 125px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.intro-text {
    margin-left: 50px;
}

.cartoon-me {
    max-width: 40%;
    height: auto;
}

/* Projects */
.project-container {
    background-color: #f9f9f9;
    padding: 80px 0;
    width: 100%;
    margin-bottom: 40px;
}
.projects {
    max-width: 60%;
    margin: 0 auto;
}
.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.role-detail {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    color: #333;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0px 0px;
    }
    body {
        padding: 0;
    }
    .intro-text {
        margin-left: 0px;
    }
    .intro-container {
        flex-direction: column;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 80px;
    }
    .cartoon-me {
        max-width: 80%;
        height: auto;
        margin-bottom: 25px;
    }
    .project-container {
        padding: 40px 0;
    }
    .project-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .projects {
        max-width: 80%;
    }
    .role-detail {
        font-size: 16px;
    }
    .header {
        font-size: 44px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
}
