.R, .e1, .s, .e2, .a, .r, .c, .h {
    animation: bounce 2s ease infinite;
    animation-delay: calc(var(--bounce-order) * 0.1s);
}

main {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.project img {
    max-width: 100%; /* Ensure the image width does not exceed the container width */
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 projects per row */
    gap: 40px;
}

/* For medium screens, 2 projects per row */
@media screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 projects per row */
        gap: 30px;
    }
}

/* For small screens, 1 project per row */
@media screen and (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr; /* 1 project per row */
        gap: 20px;
    }
}