html {
    overflow-y:scroll;
}

main {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    color: #1c2b33;
}

.project img {
    /* Causing the nav bar to format weird */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.project h3 {
    /* font-family: "owners-text", sans-serif; */
    font-family: "pain-de-mie", sans-serif;
    font-size: 26px;
    font-weight: 200;
    color: #827ba0;
    /* font-size: 18px; */
    margin-bottom: 10px;
}

.project p {
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #1c2b33;
}

@media screen and (max-width: 968px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 40px 20px;
    }
    .project-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
