main {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.resume-content {
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #1c2b33;
    margin-top: 20px;
}

.resume-content h3 {
    color: #827ba0;
    margin-bottom: 20px;
    border-bottom: 2px solid #827ba0;
    padding-bottom: 10px;
    font-family: "pain-de-mie", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 28px;
}

.resume-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.resume-content p em {
    font-size: 15px;
}

.bullet-points {
    font-size: 16px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.icons {
    height: 20px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 40px 20px;
    }
}