main {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.K, .a1, .t, .i, .e1, .H, .a2, .n, .c, .o, .c2, .k {
    animation: bounce 2s ease infinite;
    animation-delay: calc(var(--bounce-order) * 0.1s);
}

.resume-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    margin-top: 20px;
}

.resume-content h3 {
    color: #A79ECD;
    margin-bottom: 20px;
    border-bottom: 2px solid #A79ECD;
    padding-bottom: 10px;
}

.resume-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.bullet-points {
    font-size: 16px; /* Slightly smaller font size for bullet points */
    margin-top: -15px;
    margin-bottom: 20px;
}
